<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Allure.Commons" version="2.3.52.1" targetFramework="net461" />
  <package id="Aspose.Cells" version="18.5.1" targetFramework="net461" />
  <package id="CsvHelper" version="7.1.0" targetFramework="net461" />
  <package id="Dapper" version="1.50.5" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Configuration.Json" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.1.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net461" />
  <package id="MimeTypesMap" version="1.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="NUnit.Allure" version="0.2.2" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" version="3.8.0" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.10.0" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="Oracle.DataAccess.x86" version="2.112.1.0" targetFramework="net461" />
  <package id="ReportGenerator" version="3.1.2" targetFramework="net461" />
  <package id="ReportUnit" version="1.2.1" targetFramework="net461" />
  <package id="Selenium.Chrome.WebDriver" version="2.38" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.39.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.GeckoDriver.Win32" version="0.20.1" targetFramework="net461" />
  <package id="Selenium.WebDriver.IEDriver" version="3.12.0" targetFramework="net461" />
  <package id="SpecFlow" version="2.3.2" targetFramework="net461" />
  <package id="SpecFlow.Allure" version="2.3.52.1" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net461" />
  <package id="System.Memory" version="4.5.0" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>